{{!--
Global Template: Exit Intent Pop-Up with Email Capture

This global template displays a popup with an email capture when a user intends to exit the page.

There are two default Styles: Dark text for lighter backgrounds or light text on darker backgrounds.

Requirements:
1) Set the content zone(s) to that defined in your Sitemap.
2) Create a user attribute `emailAddress` to save the user's email to.

Customizations:
1) As a best practice, set the content zone to "global_popup". See https://developer.evergage.com/websdk/contentzones
for recommended names for content zones mapped via Sitemap.
2) Style options can be changed in Serverside Code.
3) Styling of the Style options, including fallback background color, can be changed in CSS.
4) Remove or change the default values for the configuration properties in Serverside Code.
5) Once validated, the user's email address will be sent to Interaction Studio and set to the user's
emailAddress attribute.
6) Media query breakpoints can be changed in CSS.
7) To support rich text, add the @richtext(true) decorator to configuration properties in Serverside Code.
Handlebars expressions for these properties must be wrapped in three sets of curly braces (e.g. {{{expression}}} ).
8) Change the value of the aria-label attributes as necessary.
9) Change the error message in the .evg-error-msg. Styling can be changed in CSS.
--}}

<div id="evg-exit-intent-popup-email-capture" data-evg-campaign-id="{{campaign}}"
    data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}"
    aria-label="Popup{{#if header}} - {{header}}{{/if}}" role="dialog" aria-modal="true" aria-hidden="false">

    {{#if lightbox}}
    <div class="evg-overlay" data-evg-dismissal></div>
    {{/if}}

    <div class="evg-popup evg-style-bg {{style.className}}" style="background-image:url('{{imageUrl}}')">
        <div class="evg-main-panel">
            <h1 class="evg-header evg-h1 evg-display-4 evg-style-text {{style.className}}">
                {{header}}
            </h1>
            <h2
                class="evg-subheader evg-h2 evg-style-text {{style.className}}{{#unless mainSubheaderVisibility}} evg-hide{{/unless}}">
                {{subheader}}
            </h2>
            <form class="evg-form" aria-label="Email Signup" role="form">
                <input class="evg-email" name="email" type="email" required placeholder="Email" novalidate
                    aria-label="Email" aria-required="true" tabindex="0">
                <span class="evg-error-msg evg-hide">
                    Enter a valid email address
                </span>
                <button class="evg-cta evg-btn evg-btn-primary evg-btn-lg {{style.className}}" onsubmit="return false;"
                    tabindex="1" type="button" aria-label="Submit">
                    {{ctaText}}
                </button>
            </form>
            <span class="evg-opt-out-msg evg-style-text {{style.className}}" tabindex="2" data-evg-dismissal>
                {{optOutText}}
            </span>
        </div>
        <div class="evg-confirm-panel evg-hide">
            <h1 class="evg-confirm-header evg-h1 evg-style-text {{style.className}}">
                {{confirmationHeader}}
            </h1>
            <h2
                class="evg-confirm-subheader evg-h2 evg-style-text {{style.className}}{{#unless confSubheaderVisibility}} evg-hide{{/unless}}">
                {{confirmationSubheader}}
            </h2>
        </div>
        <button class="evg-btn-dismissal evg-style-text {{style.className}}" data-evg-dismissal aria-label="Close Popup"
            tabindex="3">&times;</button>
    </div>
</div>