{{!--
    Global Template: Slide-In with Call-to-Action

    This global template creates a message that slides in from the bottom-right corner of the screen, and contains a
    call-to-action button.

    There are three different triggers for the slide-in: time on page, scroll depth, and inactivity.

    There are two default Styles: dark text for lighter backgrounds or light text on darker backgrounds.

    Requirements:
    1) Set the content zone(s) to that defined in your Sitemap.

    Customizations:
    1) As a best practice, set the content zone to "global_slide_in".
    See https://developer.evergage.com/web-integration/sitemap/contentzones for recommended names for content zones
    mapped via the Sitemap.
    2) Style options can be changed in Serverside Code.
    3) Styling of the Style options can be changed in CSS.
    4) To support rich text, add the @richText(true) decorator to configuration properties in Serverside Code.
    Handlebars expressions for these properties must be wrapped in three sets of curly braces (e.g. {{{expression}}} ).
    5) Remove or change the default values for the configuration properties in Serverside Code.
    6) Change the value of the aria-label attributes as necessary.
--}}

<div class="{{style.className}}" id="evg-slide-in-with-cta" data-evg-campaign-id="{{campaign}}"
data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}" role="dialog" aria-hidden="false"
aria-label="Slide-In Message{{#if header}} {{header}}{{/if}}{{#if subheader}} {{subheader}}{{/if}}">
    <div class="evg-slide-in">
        {{#if header}}
        <h1 class="evg-header {{style.className}}">
            {{~header~}}
        </h1>
        {{/if}}
        {{#if subheader}}
        <h2 class="evg-subheader {{style.className}}">
            {{~subheader~}}
        </h2>
        {{/if}}
        {{#if ctaText}}
        <a class="evg-cta evg-btn evg-btn-primary evg-btn-lg {{style.className}}"
            href="{{ctaUrl}}" aria-label="{{ctaText}}" tabindex="0">
            {{~ctaText~}}
        </a>
        {{/if}}
        <button class="evg-btn-dismissal {{style.className}}" data-evg-dismissal aria-label="Close Slide-In">&times;</button>
    </div>
</div>
