{{!--
    Global Template: Manual Promotion Selector

    This global template inserts a promotion, chosen by the campaign creator.

    Requirements:
    1) Set the content zone(s) to that defined in your Sitemap.
    2) Ensure that Promotions are enabled for the account and dataset.

    Customizations:
    1) Remove or change the default values for the configuration properties in Serverside Code. Specifically, the
    ability to choose the specific promotion and the specific asset you would like the end user to see.
--}}

<div id="mcis-manual-promotion-selector" data-evg-campaign-id="{{campaign}}"
data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">
    <a class="mcis-promotion-link" href="{{url}}">
        <img class="mcis-promotion-img" src="{{imageUrl}}" alt="{{selectedPromo.label}}">
    </a>
</div>
