{{!--
Global Template: Infobar with User Attribute and Call-to-Action

This global template places an infobar containing text, which includes a user attribute, and a call-to-action button.

There are two default Styles: Dark text for lighter backgrounds or light text on darker backgrounds.

Requirements:
1) Set the content zone(s) to that defined in your Sitemap. This template assumes a top infobar with the
name "global_infobar_top_of_page" in Clientside Code for dynamic positioning of the infobar.
2) Unless you want the 'userAttrDefault' value to render in place of the 'firstName' attribute, then a user attribute
with the name 'firstName' will need to be created. Additionally, 'userAttrDefault' will function as a fallback, in
the event that a given user seeing a Campaign using this Template does not have a value for the 'firstName' attribute.

Customizations:
1) As a best practice, set the content zone to "global_infobar_top_of_page" for top infobar and
"global_infobar_bottom_of_page" for bottom infobar.
See https://developer.salesforce.com/docs/marketing/personalization/guide/content-zones for recommended names for
content zones
mapped via the Sitemap.
2) To reference a different user attribute, change the references of 'firstName' to
the name of the new attribute. More on user attributes here:
https://help.salesforce.com/s/articleView?id=sf.mc_pers_profile_attribute_update
3) Style options can be changed in Serverside Code.
4) Styling of the Style options can be changed in CSS.
5) To support rich text, add the @richText(true) decorator to configuration properties in Serverside Code.
Handlebars expressions for these properties must be wrapped in three sets of curly braces (e.g. {{{expression}}} ).
6) Remove or change the default values for the configuration properties in Serverside Code.
7) Change the value of the aria-label attributes as necessary.
--}}

<div class="{{infobarClass}} {{style.className}}" id="evg-infobar-with-user-attr" data-evg-campaign-id="{{campaign}}"
    data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}"
    aria-label="Infobar{{#if messageText}} - {{messageText}}{{/if}}" role="alert">
    <div class="evg-infobar">
        <p class="evg-message {{style.className}}">
            {{~messageText~}}
        </p>
        {{#unless ctaVisibility}}
        <a class="evg-cta {{style.className}}" href="{{ctaUrl}}">
            {{~ctaText~}}
        </a>
        {{/unless}}
    </div>
    <button class="evg-btn-dismissal {{style.className}}" data-evg-dismissal aria-label="Close Infobar">&times;</button>
</div>